body {
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
}

html {
  margin: 0;
}

a {
  color: #00b7ff;
}

.input-error {
  outline: 1px solid red;
}

.no-transition-on-load {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
