$font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
$font-size:   16px;
$font-size-small: 15px;
$font-color-highlight: rgb(164, 7, 255);

$padding:     50px;

$table-border-strong: 1px solid black;
$table-border-light: 1px solid grey;
$table-background-light: rgb(223, 223, 223);
$table-cell-width: 20px;
$table-cell-height: 18px;
$table-cell-padding: 5px;
