$font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
$font-size: 16px;
$font-size-small: 15px;
$font-color-highlight: rgb(164, 7, 255);
$font-color: #defffc;
$font-color-dark: #010128;

$padding: 50px;

$color-danger: #ff3636;

$table-border-strong: 1px solid black;
$table-border-light: 1px solid grey;
$table-background-light: rgb(223, 223, 223);
$table-cell-width: 20px;
$table-cell-height: 19px;
$table-cell-padding: 5px;

/*********************
  Shadows
**********************/
$z-depth-0: none;
$z-depth-1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$z-depth-1-half: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
  0 4px 15px 0 rgba(0, 0, 0, 0.15);
$z-depth-2: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$z-depth-3: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
$z-depth-4: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
$z-depth-5: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
$hover-shadow: $z-depth-2 !important;
$hover-shadow-top: 8px 0 17px -4px rgba(0, 0, 0, 0.2),
  -8px 0 17px -4px rgba(0, 0, 0, 0.2) !important;

// Media breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xss-max: $screen-xs-min - 1;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
